extends layout

block content
  .w3-container
    if locals.user
      h4 You are logged in!
    else
      h4 You are not logged in! Please #[a(href="login") Log In] to continue.
      p Please note, you must be registered to use this site. Contact <strong>greg AT actempire dot com </strong> with the gmail account you want activated. Other social integrations will be added later -- but this way provides a secure login without me having to deal with passwords :-). 
      p Be safe! If you are logging in from a public computer, follow best practices and login from <em> a private or incognito </em> window. Always be sure to sign out of gmail and any other services (in addition to here) if on a public computer.
