extends layout

block content
  .w3-card-4
    h1 Hello Unknown User
    h2 You are not registered for use of this application.
    p Please contact greg @ actempire dot com for access.
    p Please go to the #[a(href="/") Home Page] to continue.
